In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.style as stl
import datetime as dt
import seaborn as sns
import numpy as np

In [13]:
#Importing Data
flu = pd.read_csv("https://query.data.world/s/36nbd4wq3xmkqijc5a47ujr34h47og")
flu.head(5)

,season,date_code,weekending,region,Respiratory_Virus,Number_Positive,Specimens_Tested,Percent_Positive
0,2009-2010,200940,10/10/09,Bay Area,Influenza_A,36,220,16.36
1,2009-2010,200940,10/10/09,Bay Area,Influenza_B,0,220,0.00
2,2009-2010,200940,10/10/09,Bay Area,Total_Influenza,36,220,16.36
3,2009-2010,200940,10/10/09,Bay Area,RSV,0,190,0.00
4,2009-2010,200940,10/10/09,California,Influenza_A,1077,3324,32.40

In [12]:
flu.describe()
flu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36179 entries, 0 to 36178
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   season             36179 non-null  object
 1   date_code          36179 non-null  int64
 2   weekending         36179 non-null  object
 3   region             36179 non-null  object
 4   Respiratory_Virus  36179 non-null  object
 5   Number_Positive    36179 non-null  int64
 6   Specimens_Tested   36179 non-null  int64
 7   Percent_Positive   30345 non-null  float64
dtypes: float64(1), int64(3), object(4)
memory usage: 2.2+ MB

In [11]:
#print unique value of every column of the dataset
for col in flu:
    print(flu[col].unique())

['2009-2010' '2010-2011' '2011-2012' '2012-2013' '2013-2014' '2014-2015'
 '2015-2016' '2016-2017' '2017-2018']
[200940 200941 200942 200943 200944 200945 200946 200947 200948 200949
 200950 200951 200952 201001 201002 201003 201004 201005 201006 201007
 201008 201009 201010 201011 201012 201013 201014 201015 201016 201017
 201018 201019 201020 201021 201022 201023 201024 201025 201026 201027
 201028 201029 201030 201031 201032 201033 201034 201035 201036 201037
 201038 201039 201040 201041 201042 201043 201044 201045 201046 201047
 201048 201049 201050 201051 201052 201101 201102 201103 201104 201105
 201106 201107 201108 201109 201110 201111 201112 201113 201114 201115
 201116 201117 201118 201119 201120 201121 201122 201123 201124 201125
 201126 201127 201128 201129 201130 201131 201132 201133 201134 201135
 201136 201137 201138 201139 201140 201141 201142 201143 201144 201145
 201146 201147 201148 201149 201150 201151 201152 201201 201202 201203
 201204 201205 201206 201207 201208 201209 201210 201211 201212 201213
 201214 201215 201216 201217 201218 201219 201220 201221 201222 201223
 201224 201225 201226 201227 201228 201229 201230 201231 201232 201233
 201234 201235 201236 201237 201238 201239 201240 201241 201242 201243
 201244 201245 201246 201247 201248 201249 201250 201251 201252 201301
 201302 201303 201304 201305 201306 201307 201308 201309 201310 201311
 201312 201313 201314 201315 201316 201317 201318 201319 201320 201321
 201322 201323 201324 201325 201326 201327 201328 201329 201330 201331
 201332 201333 201334 201335 201336 201337 201338 201339 201340 201341
 201342 201343 201344 201345 201346 201347 201348 201349 201350 201351
 201352 201401 201402 201403 201404 201405 201406 201407 201408 201409
 201410 201411 201412 201413 201414 201415 201416 201417 201418 201419
 201420 201421 201422 201423 201424 201425 201426 201427 201428 201429
 201430 201431 201432 201433 201434 201435 201436 201437 201438 201439
 201440 201441 201442 201443 201444 201445 201446 201447 201448 201449
 201450 201451 201452 201453 201501 201502 201503 201504 201505 201506
 201507 201508 201509 201510 201511 201512 201513 201514 201515 201516
 201517 201518 201519 201520 201521 201522 201523 201524 201525 201526
 201527 201528 201529 201530 201531 201532 201533 201534 201535 201536
 201537 201538 201539 201540 201541 201542 201543 201544 201545 201546
 201547 201548 201549 201550 201551 201552 201601 201602 201603 201604
 201605 201606 201607 201608 201609 201610 201611 201612 201613 201614
 201615 201616 201617 201618 201619 201620 201621 201622 201623 201624
 201625 201626 201627 201628 201629 201630 201631 201632 201633 201634
 201635 201636 201637 201638 201639 201640 201641 201642 201643 201644
 201645 201646 201647 201648 201649 201650 201651 201652 201701 201702
 201703 201704 201705 201706 201707 201708 201709 201710 201711 201712
 201713 201714 201715 201716 201717 201718 201719 201720 201721 201722
 201723 201724 201725 201726 201727 201728 201729 201730 201731 201732
 201733 201734 201735 201736 201737 201738 201739 201740 201741 201742
 201743 201744 201745 201746 201747 201748 201749 201750 201751 201752
 201801 201802 201803 201804 201805 201806 201807 201808 201809 201810
 201811 201812 201813 201814 201815 201816 201817 201818 201819 201820
 201821 201822 201823 201824 201825 201826 201827 201828 201829 201830
 201831 201832 201833 201834 201835 201836 201837 201838 201839]
['10/10/09' '10/17/09' '10/24/09' '10/31/09' '11/07/09' '11/14/09'
 '11/21/09' '11/28/09' '12/05/09' '12/12/09' '12/19/09' '12/26/09'
 '01/02/10' '01/09/10' '01/16/10' '01/23/10' '01/30/10' '02/06/10'
 '02/13/10' '02/20/10' '02/27/10' '03/06/10' '03/13/10' '03/20/10'
 '03/27/10' '04/03/10' '04/10/10' '04/17/10' '04/24/10' '05/01/10'
 '05/08/10' '05/15/10' '05/22/10' '05/29/10' '06/05/10' '06/12/10'
 '06/19/10' '06/26/10' '07/03/10' '07/10/10' '07/17/10' '07/24/10'
 '07/31/10' '08/07/10' '08/14/10' '08/21/10' '08/28/10' '09/04/10'
 '09/11/10' '09/18/10' '09/25/10' '10/02/10' '10/09/10' '10/16/10'
 '10/23/10' '10/30/10' '11/06/10' '11/13/10' '11/20/10' '11/27/10'
 '12/04/10' '12/11/10' '12/18/10' '12/25/10' '01/01/11' '01/08/11'
 '01/15/11' '01/22/11' '01/29/11' '02/05/11' '02/12/11' '02/19/11'
 '02/26/11' '03/05/11' '03/12/11' '03/19/11' '03/26/11' '04/02/11'
 '04/09/11' '04/16/11' '04/23/11' '04/30/11' '05/07/11' '05/14/11'
 '05/21/11' '05/28/11' '06/04/11' '06/11/11' '06/18/11' '06/25/11'
 '07/02/11' '07/09/11' '07/16/11' '07/23/11' '07/30/11' '08/06/11'
 '08/13/11' '08/20/11' '08/27/11' '09/03/11' '09/10/11' '09/17/11'
 '09/24/11' '10/01/11' '10/08/11' '10/15/11' '10/22/11' '10/29/11'
 '11/05/11' '11/12/11' '11/19/11' '11/26/11' '12/03/11' '12/10/11'
 '12/17/11' '12/24/11' '12/31/11' '01/07/12' '01/14/12' '01/21/12'
 '01/28/12' '02/04/12' '02/11/12' '02/18/12' '02/25/12' '03/03/12'
 '03/10/12' '03/17/12' '03/24/12' '03/31/12' '04/07/12' '04/14/12'
 '04/21/12' '04/28/12' '05/05/12' '05/12/12' '05/19/12' '05/26/12'
 '06/02/12' '06/09/12' '06/16/12' '06/23/12' '06/30/12' '07/07/12'
 '07/14/12' '07/21/12' '07/28/12' '08/04/12' '08/11/12' '08/18/12'
 '08/25/12' '09/01/12' '09/08/12' '09/15/12' '09/22/12' '09/29/12'
 '10/06/12' '10/13/12' '10/20/12' '10/27/12' '11/03/12' '11/10/12'
 '11/17/12' '11/24/12' '12/01/12' '12/08/12' '12/15/12' '12/22/12'
 '12/29/12' '01/05/13' '01/12/13' '01/19/13' '01/26/13' '02/02/13'
 '02/09/13' '02/16/13' '02/23/13' '03/02/13' '03/09/13' '03/16/13'
 '03/23/13' '03/30/13' '04/06/13' '04/13/13' '04/20/13' '04/27/13'
 '05/04/13' '05/11/13' '05/18/13' '05/25/13' '06/01/13' '06/08/13'
 '06/15/13' '06/22/13' '06/29/13' '07/06/13' '07/13/13' '07/20/13'
 '07/27/13' '08/03/13' '08/10/13' '08/17/13' '08/24/13' '08/31/13'
 '09/07/13' '09/14/13' '09/21/13' '09/28/13' '10/05/13' '10/12/13'
 '10/19/13' '10/26/13' '11/02/13' '11/09/13' '11/16/13' '11/23/13'
 '11/30/13' '12/07/13' '12/14/13' '12/21/13' '12/28/13' '01/04/14'
 '01/11/14' '01/18/14' '01/25/14' '02/01/14' '02/08/14' '02/15/14'
 '02/22/14' '03/01/14' '03/08/14' '03/15/14' '03/22/14' '03/29/14'
 '04/05/14' '04/12/14' '04/19/14' '04/26/14' '05/03/14' '05/10/14'
 '05/17/14' '05/24/14' '05/31/14' '06/07/14' '06/14/14' '06/21/14'
 '06/28/14' '07/05/14' '07/12/14' '07/19/14' '07/26/14' '08/02/14'
 '08/09/14' '08/16/14' '08/23/14' '08/30/14' '09/06/14' '09/13/14'
 '09/20/14' '09/27/14' '10/04/14' '10/11/14' '10/18/14' '10/25/14'
 '11/01/14' '11/08/14' '11/15/14' '11/22/14' '11/29/14' '12/06/14'
 '12/13/14' '12/20/14' '12/27/14' '01/03/15' '01/10/15' '01/17/15'
 '01/24/15' '01/31/15' '02/07/15' '02/14/15' '02/21/15' '02/28/15'
 '03/07/15' '03/14/15' '03/21/15' '03/28/15' '04/04/15' '04/11/15'
 '04/18/15' '04/25/15' '05/02/15' '05/09/15' '05/16/15' '05/23/15'
 '05/30/15' '06/06/15' '06/13/15' '06/20/15' '06/27/15' '07/04/15'
 '07/11/15' '07/18/15' '07/25/15' '08/01/15' '08/08/15' '08/15/15'
 '08/22/15' '08/29/15' '09/05/15' '09/12/15' '09/19/15' '09/26/15'
 '10/03/15' '10/10/15' '10/17/15' '10/24/15' '10/31/15' '11/07/15'
 '11/14/15' '11/21/15' '11/28/15' '12/05/15' '12/12/15' '12/19/15'
 '12/26/15' '01/02/16' '01/09/16' '01/16/16' '01/23/16' '01/30/16'
 '02/06/16' '02/13/16' '02/20/16' '02/27/16' '03/05/16' '03/12/16'
 '03/19/16' '03/26/16' '04/02/16' '04/09/16' '04/16/16' '04/23/16'
 '04/30/16' '05/07/16' '05/14/16' '05/21/16' '05/28/16' '06/04/16'
 '06/11/16' '06/18/16' '06/25/16' '07/02/16' '07/09/16' '07/16/16'
 '07/23/16' '07/30/16' '08/06/16' '08/13/16' '08/20/16' '08/27/16'
 '09/03/16' '09/10/16' '09/17/16' '09/24/16' '10/01/16' '10/08/16'
 '10/15/16' '10/22/16' '10/29/16' '11/05/16' '11/12/16' '11/19/16'
 '11/26/16' '12/03/16' '12/10/16' '12/17/16' '12/24/16' '12/31/16'
 '01/07/17' '01/14/17' '01/21/17' '01/28/17' '02/04/17' '02/11/17'
 '02/18/17' '02/25/17' '03/04/17' '03/11/17' '03/18/17' '03/25/17'
 '04/01/17' '04/08/17' '04/15/17' '04/22/17' '04/29/17' '05/06/17'
 '05/13/17' '05/20/17' '05/27/17' '06/03/17' '06/10/17' '06/17/17'
 '06/24/17' '07/01/17' '07/08/17' '07/15/17' '07/22/17' '07/29/17'
 '08/05/17' '08/12/17' '08/19/17' '08/26/17' '09/02/17' '09/09/17'
 '09/16/17' '09/23/17' '09/30/17' '10/07/17' '10/14/17' '10/21/17'
 '10/28/17' '11/04/17' '11/11/17' '11/18/17' '11/25/17' '12/02/17'
 '12/09/17' '12/16/17' '12/23/17' '12/30/17' '01/06/18' '01/13/18'
 '01/20/18' '01/27/18' '02/03/18' '02/10/18' '02/17/18' '02/24/18'
 '03/03/18' '03/10/18' '03/17/18' '03/24/18' '03/31/18' '04/07/18'
 '04/14/18' '04/21/18' '04/28/18' '05/05/18' '05/12/18' '05/19/18'
 '05/26/18' '06/02/18' '06/09/18' '06/16/18' '06/23/18' '06/30/18'
 '07/07/18' '07/14/18' '07/21/18' '07/28/18' '08/04/18' '08/11/18'
 '08/18/18' '08/25/18' '09/01/18' '09/08/18' '09/15/18' '09/22/18'
 '09/29/18']
['Bay Area' 'California' 'Central' 'Lower Southern' 'Northern'
 'Northern/Bay Area' 'Upper Southern' 'Upper/Lower Southern']
['Influenza_A' 'Influenza_B' 'Total_Influenza' 'RSV' 'Adenovirus'
 'Enterovirus_Rhinovirus' 'HMPV' 'Parainfluenza_1' 'Parainfluenza_2'
 'Parainfluenza_3' 'Parainfluenza_4' 'Parainfluenza_UnknownType'
 'Total_Parainfluenza' 'Coronavirus_HKU1' 'Coronavirus_NL63'
 'Coronavirus_OC43' 'Coronavirus_229E' 'Coronavirus_UnknownType'
 'Total_Coronavirus']
[  36    0 1077    3 1080    2  202    1  203   21  627  628   17  174
  175   47   48 1457    5 1462    8  195   44  920    4  924  251   53
 1398 1401  162   54  848  849  281  283   51  985  986  101  102   57
  534  242   70  811  814   96   66  314  317   32  233   43  501  504
   75   77   52  147   39  145  146   33  316    7   18  116   29   69
   24  235  237   13   26   28   15   88   10   72  188  189   34   31
   80   14   38   12  132  134   25    6   60   19   20    9  138   55
   23   11   68   30   63   67  103   35   97   50  173   16  131   41
  169  305   81  246   22  459  107   37  274  603  149   84  605  160
   82  257  616  200  221  529  158   27   91  399  214  125  334  100
  115  271  152  104   56   83  123   79  208  192   99  325  261   46
  469  111  347   93  685  183   49  364  128  177  856  210   74  117
   95  315  156  231  747  190  136  187  341  250  114  818  226   42
   62   90  199   78  277  405  330  151  481  935  236   40  333  309
  396  216  612  869   45  119   89  106  463  297  525  295  820  825
   58  220   59  340  219  559  658  395 1053  599  127  182  159  464
  163  645  313  958  498  157  227  135   85  515  621  323  944  373
  207   64  180  497  570  291  861  290   71  167  275  298  512  211
  122   61  143  144   65  105  178  141  318  223  209  409  108  225
  415  255  279  465  120  197  302  338   73  129  336  358   76   94
  388  378  266  112  575  337  124  270  417  524  287  383  519  109
  118   98  289  432   86   92  176  312  155  150  253  133  121  304
  505  538  165  153  168  244  285  732  267  301  421  494  700  198
  332  265  659  782  674   87  113  154  455  514  264 1175  672  164
  204  191  252  368  427 1083  268 1351  643  262  448  258  310  770
 1007  531  307  217  528  745  479  392  618  369  186  308  218  241
  222  196  184  224  377  400  137  441  450  741  773  213  542 1082
 1125  234  181  483  955 1034  193  140  288  792  942  249  272  584
  765  324  259  348  476  331  212  126  240  205  172  359  374  327
  130  171  523  439 1102 1151  585  161  142  166  311  322  206 1408
 1471  620  371  394  431  449  229 1320 1383  735  296  454  478 1367
 1456  798  342  370  329 1093 1166  776  294  708  695  360  430  597
  572  139  110  179  185  201  278  256  349  335  593  467  381  366
  558 1086  527  578  678 1256  148  243  591  738 1329  194  453  543
  649 1192  420  239  433  510  943  390  686  491  361  292  273  247
  260  238  414  344  804  816  633  684 1308 1325  851  934 1887 1908
 1055  293  346  352  819  839 1732 1770  931  232  589 1393 1416  805
  299  470  486 1179 1208  859  442  473 1215 1281  827  328  365 1189
 1254  780  263  351  696  751  664  303  530  557  397  401  319  367
  286  230  248  284  493  609  871 1092  508  571 1577 1960  353  657
  444  607 2370 2945  245  567  661  727  832  560  764 2493  632 3125
  404  788  903  443 1628  677 2305  617  356  437  547  608 1090  555
 1645  707  563  840  692 1532  870  539  734  728  562 1378  972  228
  408  419 1183  838  971  488  868 1196  545  959  339 1097  376  821
  215  372  276  350]
[ 220  190 3324 ... 1441 1398 1275]
[16.36  0.   32.4  ... 31.67 31.44 51.02]

In [26]:
#converting weekending column into date
flu["weekending"]=pd.to_datetime(flu["weekending"]).dt.date
flu.sort_values(by="weekending").head(5)

,season,date_code,weekending,region,Respiratory_Virus,Number_Positive,Specimens_Tested,Percent_Positive
0,2009-2010,200940,2009-10-10,Bay Area,Influenza_A,36,220,16.36
31,2009-2010,200940,2009-10-10,Upper/Lower Southern,RSV,0,11,0.00
30,2009-2010,200940,2009-10-10,Upper/Lower Southern,Total_Influenza,175,499,35.07
29,2009-2010,200940,2009-10-10,Upper/Lower Southern,Influenza_B,1,499,0.20
28,2009-2010,200940,2009-10-10,Upper/Lower Southern,Influenza_A,174,499,34.87

In [23]:
table = pd.pivot_table(flu, values="Number_Positive", index=["weekending"], columns=["Respiratory_Virus"])
table

Respiratory_Virus,Adenovirus,Coronavirus_229E,Coronavirus_HKU1,Coronavirus_NL63,Coronavirus_OC43,Coronavirus_UnknownType,Enterovirus_Rhinovirus,HMPV,Influenza_A,Influenza_B,Parainfluenza_1,Parainfluenza_2,Parainfluenza_3,Parainfluenza_4,Parainfluenza_UnknownType,RSV,Total_Coronavirus,Total_Influenza,Total_Parainfluenza
weekending,,,,,,,,,,,,,,,,,,,
01/01/11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.285714,10.285714,NaN,NaN,NaN,NaN,NaN,195.714286,NaN,26.571429,NaN
01/02/10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.500000,0.500000,NaN,NaN,NaN,NaN,NaN,25.750000,NaN,18.000000,NaN
01/02/16,8.285714,0.000000,0.000000,0.285714,0.857143,23.142857,44.571429,20.285714,17.714286,16.571429,4.285714,0.285714,0.000000,2.285714,0.857143,57.142857,24.285714,34.285714,7.714286
01/03/15,4.571429,NaN,NaN,NaN,NaN,NaN,50.857143,3.142857,144.000000,5.428571,0.285714,2.857143,2.285714,2.000000,2.000000,125.428571,NaN,149.428571,9.428571
01/04/14,2.285714,NaN,NaN,NaN,NaN,NaN,22.857143,16.571429,211.714286,9.142857,1.714286,0.000000,1.142857,0.000000,0.000000,60.857143,NaN,220.857143,2.857143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12/28/13,2.571429,NaN,NaN,NaN,NaN,NaN,19.714286,6.571429,107.714286,6.571429,1.428571,0.000000,0.571429,0.285714,0.000000,39.142857,NaN,114.285714,2.285714
12/29/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.571429,5.428571,NaN,NaN,NaN,NaN,NaN,153.714286,NaN,42.000000,NaN
12/30/17,15.714286,0.571429,6.285714,2.571429,1.142857,32.000000,85.142857,20.000000,677.142857,164.285714,6.857143,0.285714,4.000000,3.428571,0.000000,131.142857,42.571429,841.428571,14.571429
12/31/11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.285714,1.428571,NaN,NaN,NaN,NaN,NaN,33.428571,NaN,9.714286,NaN
12/31/16,8.571429,0.857143,0.285714,0.571429,1.142857,17.714286,84.857143,6.571429,373.714286,4.857143,0.285714,5.714286,6.857143,1.142857,0.000000,243.142857,20.571429,378.571429,14.000000

In [30]:
#Conditions to filter only total value
inf_istotal = flu["Respiratory_Virus"] == "Total_Influenza"
cov_istotal = flu["Respiratory_Virus"] == "Total_Coronavirus"

In [41]:
#Subset of flu for total_influenza
tot_infflu = flu[inf_istotal]
tot_infflu.head(5)

,season,date_code,weekending,region,Respiratory_Virus,Number_Positive,Specimens_Tested,Percent_Positive
2,2009-2010,200940,2009-10-10,Bay Area,Total_Influenza,36,220,16.36
6,2009-2010,200940,2009-10-10,California,Total_Influenza,1080,3324,32.49
10,2009-2010,200940,2009-10-10,Central,Total_Influenza,203,787,25.79
14,2009-2010,200940,2009-10-10,Lower Southern,Total_Influenza,21,150,14.00
18,2009-2010,200940,2009-10-10,Northern,Total_Influenza,0,0,NaN

In [62]:
table1 = pd.pivot_table(tot_infflu, values="Number_Positive", index=["weekending","region"], fill_value=0)
table1

                                 Number_Positive
weekending region
2009-10-10 Bay Area                           36
           California                       1080
           Central                           203
           Lower Southern                     21
           Northern                            0
...                                          ...
2018-09-29 Central                             0
           Lower Southern                      1
           Northern                            2
           Upper Southern                      4
           Upper/Lower Southern                0

[3296 rows x 1 columns]

In [76]:
#Total sum by the date
inf_groupby=tot_infflu.groupby(["weekending"])["Number_Positive"].sum()
df_inf = pd.DataFrame(inf_groupby)

            Number_Positive
weekending
2009-10-10             2160
2009-10-17             2924
2009-10-24             2802
2009-10-31             1972
2009-11-07             1628

In [40]:
#Subset of flu for total_coronavirus
tot_covflu = flu[cov_istotal]
tot_covflu.sort_values(by="weekending").head(5)

,season,date_code,weekending,region,Respiratory_Virus,Number_Positive,Specimens_Tested,Percent_Positive
15441,2015-2016,201540,2015-10-10,Bay Area,Total_Coronavirus,0,0,NaN
15460,2015-2016,201540,2015-10-10,California,Total_Coronavirus,2,519,0.39
15479,2015-2016,201540,2015-10-10,Central,Total_Coronavirus,0,103,0.00
15498,2015-2016,201540,2015-10-10,Lower Southern,Total_Coronavirus,0,0,NaN
15517,2015-2016,201540,2015-10-10,Northern,Total_Coronavirus,0,0,NaN